<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ucai" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Main" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.TicketChoose" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.SearchTab" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.SearchSimple" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.SearchBackAndForth"
			android:label="@string/app_name" android:screenOrientation="portrait" />
		<activity android:name=".ui.SearchConnect" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.SearchFightCity" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.SearchHangKong" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.SearchFightView" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.FightView" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.SeatView" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.ToastView" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.OrderView" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.UserOrder" android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity android:name=".ui.UserOrderView" android:label="@string/app_name"
			android:screenOrientation="portrait" />
	</application>
	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest> 