<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>FlightInfoServlet</servlet-name>
		<servlet-class>com.ucai.servlet.FlightInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FlightInfoByPageServlet</servlet-name>
		<servlet-class>com.ucai.servlet.FlightInfoByPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FilghtInfoJsonServlet</servlet-name>
		<servlet-class>com.ucai.servlet.FilghtInfoJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FilghtInfoByPageJsonServlet</servlet-name>
		<servlet-class>com.ucai.servlet.FilghtInfoByPageJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SeatInfoServlet</servlet-name>
		<servlet-class>com.ucai.servlet.SeatInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SeatInfoAndroidServlet</servlet-name>
		<servlet-class>com.ucai.servlet.SeatInfoAndroidServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlightInfoServlet</servlet-name>
		<url-pattern>/spi/getflight.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlightInfoByPageServlet</servlet-name>
		<url-pattern>/spi/getflightbypage.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilghtInfoJsonServlet</servlet-name>
		<url-pattern>/filghtInfoJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilghtInfoByPageJsonServlet</servlet-name>
		<url-pattern>/filghtInfoByPageJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SeatInfoServlet</servlet-name>
		<url-pattern>/spi/orderseat.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SeatInfoAndroidServlet</servlet-name>
		<url-pattern>/seatInfoAndroidServlet</url-pattern>
	</servlet-mapping>
</web-app>
